[submodule "anymal_b_simple_description"]
	path = anymal_b_simple_description
	url = https://github.com/ANYbotics/anymal_b_simple_description.git
[submodule "anymal_c_simple_description"]
	path = anymal_c_simple_description
	url = https://github.com/ANYbotics/anymal_c_simple_description.git
[submodule "tsid"]
	path = tsid
	url = https://github.com/stack-of-tasks/tsid.git
